@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  --background: #181719;
  --white: #fff;
  --font-Crimson: 'Crimson Pro', serif;
  --font-Montserrat: 'Montserrat', sans-serif;
  --font-Lora: 'Lora', serif;
}

/* Code for material icons */
.material-icons.md-18 {
  font-size: 18px;
  color: var(--white);
}
.material-icons.md-24 {
  font-size: 24px;
  color: var(--white);
}
.material-icons.md-36 {
  font-size: 36px;
  color: var(--white);
}
.material-icons.md-48 {
  font-size: 48px;
  color: var(--white);
}

body {
  background-color: var(--background);
}

/* Navigation bar */

.menu-icon {
  display: none;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
  padding-left: 5%;
  padding-right: 5%;
}

.logo-head > h4 {
  border: 1px solid white;
  padding: 5px 10px;
  text-transform: uppercase;

  font-family: var(--font-Crimson);
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
}

.right-container-list {
  display: flex;
  list-style: none;
}

.right-container-list .is-active {
  border-bottom: 2px solid var(--white);
  padding-bottom: 8px;
  padding-left: 1px;
  padding-right: 1px;
}

.list-items {
  padding-left: 80px;
}

.list-items > a {
  text-decoration: none;
  color: #fff;
  font-family: var(--font-Montserrat);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

/* Media for navbar */

@media screen and (max-width: 800px) {
  .logo-head {
    margin-bottom: 30px;
    white-space: nowrap;
  }

  .list-items {
    padding: 32px 0 0 0;
  }

  .right-container-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .right-container-list.active {
    background: #181719;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .right-container {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .menu-icon {
    color: var(--white);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-fas {
    color: #fff;
    font-size: 2rem;
  }
}

/* Main section */

.main-container {
  width: 100%;
  display: flex;
  margin-top: 153px;
  align-items: center;
}

.text-container {
  width: 30%;
  margin-left: 5%;
  margin-right: 100px;
}

.text-container h2 {
  margin-bottom: 40px;
  font-family: var(--font-Lora);
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 61px;
  white-space: nowrap;
}

.text-container p {
  font-family: var(--font-Montserrat);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 48px;
}

.text-container h4 {
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.text-container .arrow {
  margin-left: 14px;
}

.image-container {
  width: 70%;
  margin-right: 5%;
}

.text-container h2,
p,
h4 {
  color: var(--white);
}

.image-container img {
  width: 100%;
}

/* Media for main section */
@media screen and (max-width: 800px) {
  .main-container {
    width: 100%;
    display: block;
    margin-top: 38px;
  }

  .text-container {
    width: 95%;
    margin-left: 5%;
    margin-right: 100px;
  }

  .text-container h2 {
    margin-bottom: 25px;
    font-family: var(--font-Lora);
    font-style: normal;
    font-size: 36px;
    white-space: nowrap;
    line-height: 46px;
  }

  .text-container p {
    font-style: normal;
    font-weight: normal;
    margin-bottom: 25px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    margin-right: 100px;
  }

  .text-container h4 {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
  }

  .image-container {
    width: 92%;
    margin-right: 3%;
    margin-left: 3%;
  }
}

/* Profile container */

.profile-details-container {
  color: var(--white);
  background-color: var(--background);
  width: 80%;
  margin: -100px 0 50px 0;
  box-shadow: 0 0 10px #000000;
  padding-bottom: 30px;
}

.profile-container {
  display: flex;
}

.left-profile-container {
  width: 60%;
}

.right-profile-container {
  width: 40%;
}

.profile-details {
  display: flex;
  align-items: center;
}

.image img {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  margin: 20px 0 0 30px;
}

.profile-text-details {
  margin: 20px 10px 0 30px;
  align-items: center;
}

.profile-text-details h2 {
  font-family: var(--font-Montserrat);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.profile-text-details h3 {
  font-family: var(--font-Montserrat);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
}

.design-by h2 {
  margin: 30px 50px 0 30px;
  font-family: var(--font-Lora);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

/* Media for profile container */

@media screen and (max-width: 800px) {
  .profile-details-container {
    width: 90%;
    margin: -100px 0 50px 0;
    padding-bottom: 30px;
  }

  .left-profile-container {
    display: none;
  }

  .right-profile-container {
    width: 99%;
    margin: 0 0 0 10%;
  }

  .image img {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    margin: 20px 0 0 30px;
  }

  .profile-text-details {
    margin: 20px 10px 0 30px;
    align-items: center;
  }

  .profile-text-details h2 {
    font-size: 12px;
    line-height: 15px;
  }

  .profile-text-details h3 {
    font-size: 10px;
    line-height: 12px;
  }

  .design-by h2 {
    margin: 20px 90px 0 30px;
    font-size: 18px;
    line-height: 23px;
  }
}

/* Footer section */

footer {
  float: left;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.created-by a {
  text-decoration: none;
  color: gray;
  font-weight: 900;
  text-decoration: underline;
}

.created-by p {
  color: gray;
  margin-bottom: 24px;
}
